<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bill Splitter - Upload</title>
</head>
<body>
    <header>
        <h1 style="font-family: Arial, sans-serif; font-size: 180px; color: #333;text-align: center;">Bill Splitter</h1>
    </header>
    <main>
        <h2 style="font-family: Arial, sans-serif; font-size: 120px; color: #333;">Upload Receipt</h2>
        <form action="/upload_image" method="post" enctype="multipart/form-data">
            <input type="file" name="bill_image" accept="image/*" required style="font-family: Arial, sans-serif; font-size: 120px; color: #333;text-align: center;position: relative; top: 40px;">
            <button type="submit" style="font-family: Arial, sans-serif; font-size: 90px;height: 145px; width: 330px; position: relative; top: 100px;color: #333;text-align: center;">Upload</button>
        </form>
    </main>
</body>
</html>